{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    
   <link href="https://unpkg.com/papercss/dist/paper.min.css" rel="stylesheet">
    <link href="https://unpkg.com/papercss/dist/paper.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>0xOddrey Blog</title>
  </head>
  <body>
    <br>

    <div class="container">


      <div class="row">
        <div class="col-12 col-md-3"> 
            <h2 class="article-title">My Links:</h2>
           
           
            <a href="https://www.fortunecooky.io/" type="button" class="btn-block" target="_blank">FortuneCooky NFT</a>
            <hr>
            <a href="https://mirror.xyz/0xoddrey.eth" type="button" class="btn-block" target="_blank">Mirror Blog</a>
            <hr>
            <a href="https://twitter.com/0xOddrey" type="button" class="btn-block" target="_blank">Twitter</a>
            <hr>
            <a href="https://github.com/0xOddrey" type="button" class="btn-block" target="_blank">Github</a>
        </br>

        </div>
        <div class="col-12 col-md-9">
            <h1>0xOddrey's Blog</h1>
           
            <p>Welcome to my corner of the metaverse...</p>

            <div class="row">
            <div class="col-4 col-md-4">
                <img src="{% static 'images/audrey-img.jpg' %}" alt="Audrey">
            </div>
            <div class="col-8 col-md-8">
                <article class="article">
                    <h2 class="article-title">About Me:</h2>
                    <p>I'm Audrey Taylor-Akwenye. I started my coding career as a python developer in 2018. I began coding in solidity in 2020. I currently focus on tokenized communities and crypto gaming.</p>
                
                  </article> 
            </div>
            </div>
            
            <article class="article">
                <h2 class="article-title">Reading List:</h2>
                <ul>
                    <li><a href="https://medium.com/1kxnetwork/play-to-earn-economies-as-base-layer-protocols-for-games-87085997b6fd" target="_blank">Play to Earn Economies</a></li>
                 
                  </ul>
              </article> 
              <article class="article">
                <h2 class="article-title">Podcast List:</h2>
                <ul>
                    <li><a href="https://www.audible.com/pd/Economics-Design-Podcast/B08K5799T3" target="_blank">Economics Design</a></li>
                   
                  </ul>
              </article> 
              <article class="article">
                <h2 class="article-title">Projects:</h2>
                <ul>
                    <li><a href="https://twitter.com/beansdaowtf" target="_blank">Product at BeansDaoWTF</a></li>
                    <li><a href="https://www.protein.xyz/" target="_blank">Product at ProteinDao (previous)</a></li>
                    <li><a href="https://cryptomanga.club/" target="_blank">Solidity Developer at CryptoManga (previous)</a></li>
                   
                  </ul>
              </article> 

        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->
</div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>